$nav-profile-pattern:none;
$boxed-background:none;
//bootstrap glyphicons font-url

/*$navy : #a6b911; // Primary color
$dark-gray: #c2c2c2;  // Default color
$blue: #1c84c6;       // Success color
$lazur: #6ac2fb;      // Info color
$yellow: #f8ac59;     // Warning color
$red: #ED5565;        // Danger color


//Navigation
$nav-bg: #767575;
$nav-profile-pattern:""; // url("patterns/header-profile.png");
$nav-text-color: #e6e6e6;*/


$spin-color: $navy;//set again to reflect above changes of standard color 