<backdrop>
    <div class="middle-box text-center animated fadeInDown">

            <div [hidden]="step!=0">
                <ibox [heading]="'Passwort zurücksetzen'" [collapsable]="false">
                    <p>{{'USER_RESET_PASSWORD.FILL_USERNAME_TO_GET_PASSWORD_RESET_EMAIL_PARAGRAPH_TEXT' | translate:lang}}.</p>
                    <div class="form-group">
                        <label>{{'USER_RESET_PASSWORD.YOUR_USERNAME_LABEL_TEXT' | translate:lang}}</label>
                        <input type="text"
                               class="form-control"
                               name="username"
                               [(ngModel)]="modelUsername"
                               #emailctrl="ngModel"
                               required />
                    </div>
                    <div class="form-group">
                        <button type="button" [disabled]="modelUsername == ''" class="btn btn-primary" (click)="requestPasswortResetLink()">{{'USER_RESET_PASSWORD.SEND_BTN_TEXT' | translate:lang}}</button>
                    </div>
                </ibox>
            </div>
            <div [hidden]="step!=1">
                <p>{{'USER_RESET_PASSWORD.LINK_HAS_BEEN_SEND_TO_EMAIL_PARAGRAPH_TEXT' | translate:lang}}.</p>
            </div>
            <div [hidden]="step!=2">
                <ibox [heading]="'Neues Passwort vergeben'" [collapsable]="false">
                    <p>{{'USER_RESET_PASSWORD.FILL_IN_NEW_PASSWORD_PARAGRAPH_TEXT' | translate:lang}}.</p>
                    
                    <div class="form-group">
                        <label>{{'USER_RESET_PASSWORD.PASSWORD_LABEL_TEXT' | translate:lang}}</label>
                        <input type="password" class="form-control" name="passwort" [(ngModel)]="passwort" #passwortctrl="ngModel" required />
                    </div>
                    <div class="form-group">
                        <label>{{'USER_RESET_PASSWORD.REPEAT_PASSWORD_LABEL_TEXT' | translate:lang}}</label>
                        <input type="password" class="form-control" name="passwortWiederholen" [(ngModel)]="passwortWiederholen" #passwortWiederholenctrl="ngModel" required />
                    </div>
                    <div class="form-group" [hidden]="passwortMatch">
                        <label class="">{{'USER_RESET_PASSWORD.PASSWORDS_DOESNT_MATCH_LABEL_TEXT' | translate:lang}}.</label>
                    </div>
                    <div [hidden]="!errorMessage">{{errorMessage}}</div>
                    <div class="form-group">
                        <button type="button" [disabled]="!isPasswordInput" class="btn btn-primary" (click)="resetPassword()">{{'USER_RESET_PASSWORD.SEND_RESET_PASSWORD_BTN_TEXT' | translate:lang}}</button>
                    </div>
                </ibox>
            </div>
            <div [hidden]="step!=3">
                <ibox [heading]="'Passwort zurückgesetzt'" [collapsable]="false">
                    <p>{{'USER_RESET_PASSWORD.PASSWORD_HAS_BEEN_RESET_PARAGRAPH_TEXT' | translate:lang}}.</p>
                </ibox>
            </div>
            <div>
                <p>
                    <a href="/">{{'USER_RESET_PASSWORD.BACK_TO_STARTPAGE_LINK_TEXT' | translate:lang}}</a>
                </p>
            </div>
    </div>
</backdrop>