hello-ionic-page {

    p {
        margin: 20px 0;
        line-height: 22px;
        font-size: 16px;
    }
}

ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}
 
home-page {
 
    #map {
        height: 100%;
    }
 
}